html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling:touch;
}

// inject 
.fp0vzmf {
  @import "view/controllers/home.controller.scss";
} 
// endinject 