h1 {
  background-color:silver;
}

& {
  /*background-color:yellow;*/
  /*border:2px solid red;*/
  overflow:auto;
  /*-webkit-overflow-scrolling:touch;*/
  /*box-sizing:content-box;*/
}


.vertical-divider {
  display:inline-block;
  height:34px;
  margin-left:20px;
  margin-right:20px;
  vertical-align: bottom;
  border-left:1px solid #ccc;
}

.navbar-default {
  margin-bottom:0;
  .navbar-form {
    border:0;
    padding-top:0;
    padding-bottom:0;
    margin-left:0;
    margin-right:0;
  }
}
.dropdown-menu {
  max-height:273px;
  overflow:auto;
  &.device-list {
    .fa {
      margin-left:-5px;
      margin-right:10px;
    }
  }
}

.input-screen-rate {
.form-control {
  width:50px;
  text-align:center;

padding-left:6px;
padding-right:6px;

  

} 
}
.input-screen-size {
.form-control {
  width:50px;
  text-align:center;

padding-left:6px;
padding-right:6px;

  

} 

.no-border-right {
  border-right:none;
}
.no-border-left {
  border-left:none;
} 
.btn-rotate {
  border-left:none;
 border-right:none;
 padding-left:0;
 padding-right:0; 
 border-radius:0;

}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul.thumb-list {
  /*padding:3px;*/
  padding:0;
  margin:0;
  min-height:100px;
  text-align:center;
  li {
    padding:10px 10px;
    display:inline-block;
position:relative;


/*margin:5px;*/
    img {
      /*border:2px solid silver;*/
      
    }
    &.active {
      background-color:rgba(255,255,255,.35);
      /*
      &:before {
        content: '';
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        border:3px solid rgba(0,0,0,.5);
      }*/
/*      &:before {
        content: '';
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        border:4px solid rgba(255,255,255,.75);
        pointer-events:none;
      }*/
    }


  }
}