div
  //- .panel.panel-default
  //-   .panel-heading
  //-     strong test
  //-   .panel-body
  //-     strong test

  .panel.panel-default
    .panel-body
      strong X : {{ vm.cropInfo.l }}
      strong Y : {{ vm.cropInfo.t }}
      strong W : {{ vm.cropInfo.w }}
      strong H : {{ vm.cropInfo.h }}

  br
  .crop-canvas
    .resizer.resizer-top
      i.fa.fa-fw.fa-angle-down
    .resizer.resizer-left
      i.fa.fa-fw.fa-angle-right
    .resizer.resizer-right(ng-style='{ left: vm.metric.width - vm.metric.padding }')
      i.fa.fa-fw.fa-angle-left
    .resizer.resizer-bottom(ng-style='{ top: vm.metric.height - vm.metric.padding }')
      i.fa.fa-fw.fa-angle-up
    canvas

  table
    tr
      td(valign='top')
        pre {{ vm.cropInfo | json }}
      td(valign='top')
        pre {{ vm._canvasOptions | json }}